.history__result:hover {
    background-color: #EEE;
}

.search__result {
    cursor: pointer;
}

.login__button {
    padding: 15px;
}

.login__screen {
    padding-top: 40px;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding-top: 20px;
  }
  